<section
  class="hero-section h-svh sm:!h-screen pt-36 w-full flex justify-center items-center lg:h-[727px] xl:border-b-4 border-[#E6B55D]"
>
  <div class="pb-36 flex justify-center flex-col items-center">
    <h1 class="!text-3xl font-bold md:!text-5xl lg:!text-6xl">
      Árbol de Sabiduría
    </h1>
    <h3 class="!text-lg lg:!text-xl">Hogar para adultos mayores</h3>
  </div>
</section>

<style>
.hero-section {
  background-image: url("../hero-image2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Work Sans Variable", sans-serif;
  color: #d9a756;
}
</style>
